spring:
#  datasource:
##    url: ${MYSQL_ACCESS_URL}
#    username: ${MYSQL_ACCESS_USERNAME}
#    password: ${MYSQL_ACCESS_PASSWORD}

  h2:
    console:
      enabled: true
      path: /h2
      settings:
        web-allow-others: true
  datasource:
    url: jdbc:h2:mem:test
  jpa:
    hibernate:
      ddl-auto: update    # 스키마 자동 생성
    show-sql: false        # SQL 쿼리 출력
    properties:
      hibernate:
        format_sql: true  # SQL pretty print
        jdbc:
          time_zone: Asia/Seoul   # 서버 시간 서울로 변경
  sql:
    init:
      data-locations: classpath*:db/h2/data.sql
  security:
    oauth2:
      client:
        registration:
          google:
            redirect-uri: https://85b2-121-176-132-24.ngrok-free.app/login/oauth2/code/google
            client-id: ${G_CLIENT_ID}
            client-secret: ${G_CLIENT_SECRET}
            scope:
              - profile
              - email
  servlet:
    multipart:
      enabled: true
      file-size-threshold: 2KB
      max-file-size: 200MB
      max-request-size: 215MB
      resolve-lazily: false
logging:
  level:
    org:
      springframework:
        orm: DEBUG
    com:
      amazonaws:
        util:
          EC2MetadataUtils: ERROR
server:                   # 모든 response 에 대해 지정된 인코딩 적용(한글 깨짐 방지)
  servlet:
    encoding:
      force-response: true
jwt:                      # JWT 관련 정보
  key: ${JWT_SECRET_KEY}  # 시스템 환경 변수에서 로드
  access-token-expiration-minutes: 100
  refresh-token-expiration-minutes: 200
#awsParameterStorePropertySource:
#  enabled: true


cloud: # 이거 안하면 host down 에러 발생
  aws:
    s3:
      bucket: test-main-005
#    credentials:
#      access-key: ${S3_ACCESS_KEY}
#      secret-key: ${S3_SECRET_KEY}
    region:
      static: ap-northeast-2
      auto: false
    stack:
      auto: false

kakao:
  url: https://dapi.kakao.com/v2/local/search/address.json
  access-key: ${KAKAO_ACCESS_KEY}